// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #36b5b0;
$yellow: #FFC65A;
// CHANGE ORANGE COLOR WITH THE HEXA CODE SAME OF BTN-ORANGE - BEA
$orange:  #F48A0C;;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
