// Specific CSS for your home-page
body {
  background-image: url("only background.jpg");
  height: 100vh;
  background-repeat:  no-repeat;
  background-size: cover;
  }

.banner {
  background-image: url("Background Home Page.jpg");
  height: 100vh;
  background-repeat:  no-repeat;
  background-size: cover;
  }

  .about-logo {
  display: inline;
  }

  .about-logo img {
  width: 30px;
  color: white;
  }

  .about-logo a {
    color: white;
  }

  .text-signup {
   display: bloc;
   position: center;
   padding-top: 200px;
  padding-right: 380px;
  }

  .text-signup h3 {
  font-family: 'Parisienne', cursive;
  font-size: 39px;
  color: white;
  align-self: center;
  margin: 0;


  }

  .text-signup h1 {
  font-size: 36px;
  color: white;
  font-weight: medium;
  align-self: center;

  }

.btn-warning {
width: 100px;
color: white;
padding: 8px 16px;
align-self: center;
margin-top: 20px;
}


