.container {
  margin-top: 150px;
}

.border-orange {
  border-style: solid;
  border-color: $orange;
  border-radius: 8px;
  height: 450px;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.form {
  width: 800px;
  height: auto;
  color: white;
}



