<h1>Bookings#new</h1>
<p>Find me in app/views/bookings/new.html.erb</p>
<!-- SHOULD SEARCH FOR A CALENDAR VIEW
  TO PICK START AND END DATES -->

<!-- NEED TO WATCH A VIDEO ON FLATPICKER IN ORDER TO IMPLEMENT A DATE CALENDER TO SEND PARAMS -->
