<h1>booking of <%= @booking.puppy.name %></h1>
<p>start date: <%= @booking.start_date %></p>
<p>end date: <%= @booking.end_date %></p>
<%= link_to "Cancel booking", @booking,
      method: :delete,
      data: { confirm: "Are you sure?" } %>
