<h1><%= @puppy.name %></h1>
<!-- NEED TO ADD IMAGE HERE -->
<%= link_to new_puppy_booking_path(@puppy) do %>
  <p>Book the puppy</p>
<% end %>
<p><%= @puppy.bookings.first.reviews.first.title %></p>
<%= link_to 'Back', :back %>
