body {
background-color: #1e1d1e;
 }


.box {
  padding-top: 100px;
  margin-left: 40px;
  margin-right: 10px;
  display: flex;
  height: 100%;
  flex-flow: row wrap;
  justify-content: space-around;
}

.infos {
  width:100%;
  display: flex;
  justify-content: space-between;
}

.card-puppy{
  overflow: hidden;
  height: 220px;
  width: 500px;
  margin-bottom: 40px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-puppy img {
  height: 100%;
  width: 220px;
  object-fit: cover;
}

.card-puppy h2 {
  margin: 0;
  padding: 5px 0px;
}

.card-puppy h3 {
  font-family: "Open Sans", "sans-serif";
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.puppy-text {
  position: relative;
  padding-left: 20px;
  padding-top: 15px;
}

.card-puppy h2{
  margin: 0px;
  font-size: 14px;
  font-family: 'Roboto', 'sans-serif';
  font-weight: thiny;
}

.card-puppy .card-puppy-infos {
  padding: 8px 0px;
}

.card-puppy-infos {
  margin-top: 70px;
  margin-right: 20px;


a.btn-warning {
  font-size: 14px;
}
}
