.navbar {
  position: fixed;
  z-index:1;
  top: 0;
  width: 100%;
  justify-content: space-between;
  background: $orange;
}

.navbar-light .navbar-nav .active a.nav-link  {
  color: white;
  font-family: 'Roboto', 'sans-serif';
  font-size: 18px;
}

.nav-link:hover {
 color:red !important;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-family: 'Roboto', 'sans-serif';
  font-size: 18px;
}

.navbar .fa-paw{
  color: white;
  font-size: 30px;
}


.navbar .navbar-collapse {
  flex-grow: 0;
}

.avatar {
  height: 40px;
}
