.background h1 {
  color: white;
}

.background h2 {
  color: black;
}

.background h3 {
  color: grey;
}

.background h1 {
  font-size: 32px;
}

.background h2 {
  font-size: 14px;
}

.background h3 {
  font-size: 18px;
}
