<link rel="stylesheet" href="home.css.erb">



<!-- Button to open the modal -->
<button onclick="document.getElementById('id01').style.display='block'">Sign Up</button>
<!-- The Modal (contains the Sign Up form) -->
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">times;</span>
  <form class="modal-content" action="/action_page.php">
    <div class="container">
      <h1>Sign Up</h1>
      <p>Info please, then pups!</p>
      <hr>
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>
      <label for="encrypted_password"><b>Password</b></label>
      <input type="encrypted_password" placeholder="Enter Password" name="encrypted_password" required>
      <label for="first_name"><b>First Name</b></label>
      <input type="first_name" placeholder="First Name" name="first_name" required>
      <label for="last_name"><b>Last Name</b></label>
      <input type="last_name" placeholder="Last Name" name="last_name" required>
      <label for="location"><b>Location</b></label>
      <input type="location" placeholder="Location" name="location" required>
      <label for="birthdate"><b>Birthdate</b></label>
      <input type="birthdate" placeholder="Birthdate" name="birthdate" required>
      <p><a href="#" style="color:dodgerblue">Forgot password?</a></p>
      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="submit" class="signup">Sign Up</button>
      </div>
    </div>
  </form>
</div>
